<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CircleNotifications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CircleNotifications.Properties.Settings>
            <setting name="CircleToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="VCSType" serializeAs="String">
                <value />
            </setting>
            <setting name="LastKnownBuildNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PollingInterval" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="NumBuilds" serializeAs="String">
                <value>10</value>
            </setting>
        </CircleNotifications.Properties.Settings>
    </userSettings>
</configuration>